export GO_VERSION=1.23.2
export APP_VERSION=0.0.1
export APP_NAME=nexus-housekeper

export GOROOT=$(go$GO_VERSION env GOROOT)
export PATH=${GOROOT}/bin:${PATH}
export DOCKER_BUILDKIT=1
export BUILDKIT_PROGRESS=plain
#export NO_COLOR=1
#export BUILDKIT_COLORS="run=123,20,245:error=yellow:cancel=blue:warning=white"

export TLS_SAN=cloud.private
#export DOCKER_TLS_VERIFY=1
#
export PULL_REGISTRY=registry.cloud.private
#export PUSH_REGISTRY=registry.cloud.private
